
body{
    background-color: grey!important;

    
     
}

#fadeIn{
    animation: fadeIn 10s !important;
    margin-right: 5px;
    animation:infinite;
}

.fadeOut{
    animation: fadeOut 20s !important ;
    
}

@keyframes  fadeIn{
from{
    opacity: 0;
}

to{
    opacity: 1;
}

 
}

@keyframes  fadeOut{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}





#nav{
    opacity: 0.70!important;
    margin: 0;
    position: fixed;
    width: 100;
  
}

.navbar-brand{
    color: white !important;
}

.color{
    color: white !important;
}
#nav1{
    background-color: transparent !important;
    height: 40px;
    padding: 0%;
    display: flex !important;
    align-items: center !important;
    justify-content: end!important;
}

#ai{
 background-color: black!important;
 display: flex !important;
 justify-content: end;
}
.ul{
    display: flex
    !important;
    justify-content: end;
    justify-content: space-between;
    position: fixed;
}

.li{
    display: flex
    !important;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 90px;
    justify-content: end;
    color: white;
    font-weight: bolder;
    animation: both 2s;
    animation-duration: infinite;
}



.sec{
   padding: 250px 80px !important;
   /* display: flex !important; */
   border-radius: 30px;
    /* align-items: center; 
   justify-content: center;  */
   background-color: black;
   /* opacity: 0.70; */
   background-image: url(/img/antonio.jpg) !important;
    background-repeat: no-repeat !important; 
    background-position: center !important;
    background-size: 400px  !important;
    text-align: start;
    color:white;
    width: 100%;
    
    

}


#div{
    /* padding: 50px !important; */
    /* width: 100%; */
    /* display: flex; */
    
}

#light{
    padding: 50px 20px !important;
    margin: 90px;
    margin-left: 40px;
    justify-content: flex-end;

    
    
}

#dark{
    margin: 60px;
}

h1{
    display:flex !important;
    justify-content: end!important;
    align-items: center;
}

.p1{
    display: flex !important;
    justify-content: end;
    align-items: end;

}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
li{
    text-decoration: none;
    justify-content: space-between;
    margin: 20px;
}

a{
    text-decoration: none;
}

.div1{
    width: 100% !important;
    padding: 0px 20px !important;
    display: flex;
    justify-content: start;
    margin-right: 60px;
}



