
body{
    background-color: teal!important;
    min-height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;

    
     
}

#fadeIn{
    animation: fadeIn 10s !important;
    margin-right: 5px;
    animation:infinite;
}

#fadeIn2{
    animation: fadeIn 20s !important;
    margin-right: 5px;
    animation:infinite;
}

#fadeIn3{
    animation: fadeIn 30s !important;
    margin-right: 5px;
    animation:infinite;
}

.fadeOut{
    animation: fadeOut 20s !important ;
    
}

@keyframes  fadeIn{
from{
    opacity: 0;
}

to{
    opacity: 1;
}

 
}






#nav{
    opacity: 0.70!important;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
  
}

.navbar-brand{
    color: white !important;
}

.color{
    color: white !important;
}
#nav1{
    background-color: transparent !important;
    height: 40px;
    padding: 0%;
    display: flex !important;
    align-items: center !important;
    justify-content: end!important;
}

#ai{
 background-color: black!important;
 display: flex !important;
 justify-content: end;
}
.ul{
    display: flex
    !important;
    justify-content: end;
    justify-content: space-between;
    position: fixed;
}
/* 
.li{
    display: flex
    !important;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 90px;
    justify-content: end;
    color: white;
    font-weight: bolder;
    animation: both 2s;
    animation-duration: infinite;
} */

.px-3:hover{
    background-color: green;
    padding: 5px;

}






#light{
    padding: 50px 20px !important;
    margin: 90px;
    margin-left: 40px;
    justify-content: flex-end;

    
    
}

#dark{
    margin: 60px;
}

h1{
    display:flex !important;
    justify-content: end!important;
    align-items: center;
}

.p1{
    display: flex !important;
    justify-content: end;
    align-items: center;

}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
li{
    text-decoration: none;
    justify-content: space-between;
    margin: 20px;
}

a{
    text-decoration: none;
}

.div1{
    width: 100% !important;
    padding: 0px 20px !important;
    display: flex;
    justify-content: start;
    margin-right: 60px;
}



.text-success{
    color: blue !important;
    font-weight: bolder;
}

.footer{
    width: 100% !important;
}
hr{
    width: 100%;
}

text:hover{
    background-color: grey !important;

}

.btn-group{
    margin-left: 700px;
    margin-top: 60px;
}

.dropdown-menu{
    background-color: white!important;
    opacity: 0.70;
    text-align: center;
    list-style-type: ;
}


.dropdown-item{
color: blue;
margin: 0;
}

.dropdown-item:hover{
    background-color: green;

}