body{
    background-color: teal !important;
    height: 100vh;
}


#nav{
   opacity: 0.70 !important;
    margin: 0;
   
    width: 100%;
    
}
.nav-link{
    margin-left: 220px !important;
    color: white;
}


#is{
    
    position: sticky;
    top: 0;
}
#antonio{
height: 400px;
width: 300px;
margin-left: 15rem;

}

#light{
    margin-top: 60px;
    padding:  90px;
    margin-right: 700px;
    margin-bottom: 30px;
    text-align: center;
   
}

#light:hover{
    background: grey !important;
    color: white;
    font-weight: bold;
}
#light1{
    margin-top: 60px;
    padding:  90px;
    margin-right: 700px;
 margin-left: 90px;
 text-align: center;
}

#light1:hover{
    background: grey !important;
    color: white;
    font-weight: bold;
}
#light2{
    margin-top: 60px;
    padding:  90px;
    justify-content: end;
    margin-left: 700px;
    margin-right: 90px;
    text-align: center;
 }

 #light2:hover{
    background: grey !important;
    color: white;
    font-weight: bold;
    animation: name-breathing 10s  infinite normal;
}
 #light3{
    margin-top: 60px;
    padding:  90px;
    margin-left: 700px;
    margin-right: 90px;
    text-align: center;
 }

 #light3:hover{
    background: grey !important;
    color: white;
    font-weight: bold;
}

 ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
li{
    text-decoration: none;
    justify-content: space-between;
    margin: 20px;
}

a{
    text-decoration: none !important;
    
}
.lc{
    color:green;
    font-size: medium;
    font-weight: bold;
}

#abt{
    font-size: xx-large !important;

}