body{
    background-color: burlywood !important;
}



#nav{
    /* opacity: 0.70; */
     margin: 0;
     position: fixed;
     width: 100%;
     background-color: transparent;
    
 }
 
 
     
   
 .nav-link{
     margin-left: 220px !important;
     color: white;
 }

 .about {
    text-align: center;
    margin-top: 90px;
    color: white;
    /* text-decoration: underline; */
}

.sec{
    padding: 80px 70px;
    display: flex;
}
