body{
    background-color: teal !important;
    height: 100vh !important;
}



#nav{
   opacity: 0.70 !important;
    margin: 0;
   
    width: 100%;
    
}
.nav-link{
    margin-left: 220px !important;
    color: white;
}


#is{
    
    position: sticky;
    top: 0;
}

.px-3:hover{
    background-color:#314a5e;
    padding: 5px;
   

}

a:hover{
    color: #aed5d5 !important;
}

#antonio{
height: 350px;
width: 300px;
margin-top: 20px;

}

hr{
    width: 50%;
    color: #aed5d5 !important;
    

}



.bio{
    /* background-color: #aed5d5 !important; */
   
}







 

 ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
li{
    text-decoration: none;
    justify-content: space-between;
    margin: 20px;
}

a{
    text-decoration: none !important;
    
}
.lc{
    color:green;
    font-size: medium;
    font-weight: bold;
}

#abt{
    font-size: 40px !important;

}

p{
    font-size: x-large;
    color: #aed5d5;
    
}

.con-animation {
    animation: name-breathing 10s infinite normal;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: con-breathing;
}

@keyframes con-breathing {
    0% {
        transform: scale(1);
    }
    16% {
        transform: scale(1.1);
    }
    32% {
        transform: scale(1);
    }
    48% {
        transform: scale(1.1);
    }
    64% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


a{
    color: #314a5e !important;

}