
body{
    background-color: teal !important;
    height: 100vh !important;
}

.con-animation {
    animation: name-breathing 10s infinite normal;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: con-breathing;
}
@keyframes con-breathing {
    0% {
        transform: scale(1);
    }
    16% {
        transform: scale(1.1);
    }
    32% {
        transform: scale(1);
    }
    48% {
        transform: scale(1.1);
    }
    64% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


#nav{
    opacity: 0.70;
     margin: 0;
     position: fixed;
     top: 0;
     width: 100%;
     background-color: transparent;
    
 }

 .px-3:hover{
    background-color:#314a5e;
    padding: 5px;
   

}

a:hover{
    color: #aed5d5 !important;
}
 
 .nav-link{
     margin-left: 220px !important;
     color: white;
 }

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.form-outline{
  width: 100%!important;
  color: white !important;
}


.form-control{
    background-color:  #aed5d5!important;
    color: black !important;
    
}

h2{
    color:#314a5e !important;
   
}

h1{
    color: #314a5e !important;
    text-align: center;
    font-size:x-large;
}


.con-animation{
        animation: con-breathing 10s infinite normal;

}

#btn{
    background-color: #314a5e !important;
}

#btn:hover{
    background-color: rgb(13,202,240) !important;
    scale: 120%;
    font-weight: bolder;
}

@media screen and (max-width: 622px) {
    .form-outline{
        display: flex !important;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
}